body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* ADDITIONAL STYLING */

.page-header {
  margin-top: 1.5vh;
  text-align: center;
  background-color: white;
  padding: 2vh;
  width: 100%;
  
}

.page-title {
  color: darkslategrey;
}
